---
layout: default
title: Portfolio
permalink: /portfolio/
---

<div class="portfolio container">

  <h1 class="header">Everything I've Made</h1>
  
  <div class="controls">
      <button class="filter waves-effect waves-light btn red darken-4" data-filter="all">All</button>
      <button class="filter waves-effect waves-light btn red darken-4" data-filter=".website">
      <i class="mdi-hardware-laptop left"></i>Websites</button>
      <button class="filter waves-effect waves-light btn red darken-4" data-filter=".category-2">
      <i class="mdi-av-videocam left"></i>Videos</button>
   </div>

  <ul class="portfolio-list row">
    {% for item in site.portfolio %}
        <li class="col s12 m6 l4 mix {{ item.categories }}">
            <!--<span class="portfolio-meta">{{ item.date | date: "%b %-d, %Y" }}</span>
            <h2>
                <a class="portfolio-link" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
            </h2>-->
            <div class="card">
				{% if item.categories == "website" %}
              <div class="browser valign-wrapper">
              	<div class="left">
					<div class="red-btn left"></div>
					<div class="yellow-btn left"></div>
					<div class="green-btn left"></div>
				</div>
              </div>
              	{% endif %}
               <div class="card-image" style="overflow: scroll; height: 191px;">
				   {% if item.image %}
                  <img class="portfolio-img" src="{{ site.url }}{{ item.image }}">
				   {% endif %}
                  <a class="card-title black-text" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
               </div>
                <div class="card-action">
                  <a href="{{ item.finalproject }}">View Website</a>
                </div>
              </div>
        </li>
    {% endfor %}
  </ul>
</div>