<footer class="site-footer grey darken-3 footer-copyright">
    <div class="footer-copyright">
        <div class="container">&copy; <span class="year"></span> Colton Fitzgerald
                   <ul class="social-media-list right">
						{% if site.google_plus %}
                        <li class="gplus">
                        	<a href="https://plus.google.com/+{{ site.google_plus }}">
								<svg height="18" width="22">
								  <use xlink:href="#shape-google-plus" />
								</svg>
                       		</a>
                        </li>
						{% endif %} {% if site.twitter_username %}
                        <li class="twitter">
                            <a href="https://twitter.com/{{ site.twitter_username }}">
								<svg height="18" width="22">
									<use xlink:href="#shape-twitter" />
								</svg>
                            </a>
                        </li>
						{% endif %} {% if site.instagram %}
                        <li class="instagram">
                            <a href="http://instagram.com/{{ site.instagram }}">
                            	<svg height="18" width="22">
                            		<use xlink:href="#shape-instagram"/>
                            	</svg>
                            </a>
                        </li>
						{% endif %} {% if site.linkedin %}
                        <li class="linkedin">
                        	<a href="http://www.linkedin.com/in/{{ site.linkedin }}">
                        		<svg height="18" width="22">
                        			<use xlink:href="#shape-linkedin"/>
                        		</svg>
                        	</a>
                        </li>
						{% endif %} {% if site.github_username %}
               			<li class="github">
               				<a href="http://github.com/{{ site.github_username }}">
               					<svg height="18" width="22">
               						<use xlink:href="#shape-github"/>
               					</svg>
               				</a>
               			</li>
					   {% endif %}
               			<li class="rss">
               				<a href="{{ " /feed.xml " | prepend: site.baseurl }}">
               					<svg height="18" width="22">
               						<use xlink:href="#shape-rss"/>
               					</svg>
               				</a>
               			</li>
                </ul>
        </div>
    </div>
</footer>
<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/js/jquery-2.1.3.min.js"><\/script>')</script>
<script src="{{ site.url }}/js/materialize/bin/materialize.min.js"></script>
{% if page.title == "Portfolio" %}
<script src="https://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
<script>$('.portfolio-list').mixItUp();</script>
{% endif %}
<script src="{{ site.url }}/js/main.min.js"></script>
{% if page.title == "Blog" %}
<script src="{{ site.url }}/js/instafeed.min.js"></script>
{% assign url = '{{image}}' %}
{% assign words = '{{caption}}' %}
<script>
    var feed = new Instafeed({
        get: 'user',
        userId: 260600491,
        clientId: 'f8bd71bb1c854c8c9e72536007dca005',
		accessToken: '260600491.467ede5.2ed380e5ead2482c828d36a8e518aba1',
		limit: 12,
		resolution: "low_resolution",
		template: '<img class="col l2 s6" src="{{ url }}" alt="{{ words }}"/>'
    });
    feed.run();
</script>
{% endif %}
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-54112382-1', 'auto');
  ga('send', 'pageview');
</script>