---
layout: default
---
<div class="parallax-container">
	<div class="parallax">
		<img src="{{ site.url }}/img/posts/{{ page.parallax_image}}" alt="{{ page.parallax_alt }}"/>
	</div>
</div>
<div class="post">
	<article class="post-content section white">
		<div class="row container">
			<header class="post-header">
				<h1 class="post-title header">{{ page.title }}</h1>
				<p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
			</header>
			{{ content }}
			<div class="row">
				<form class="col s12" action="https://cherrypopdesigns.us9.list-manage.com/subscribe/post" method="POST">
					<input type="hidden" name="u" value="977b3bea62311e75f0eff0487">
					<input type="hidden" name="id" value="8384cdb178">
					<h5>Get Updated When I Make a Blog Post</h5>
					<div class="row">
						<div class="input-field col s6 l3">
							<input id="first_name" type="text" class="validate" name="MERGE1" id="MERGE1" value="">
							<label for="first_name">First Name</label>
						</div>
						<div class="input-field col s6 l3">
							<input type="email" class="validate" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" value="">
							<label for="MERGE0">Email</label>
						</div>
						<input class="hidden" type="text" name="b_977b3bea62311e75f0eff0487_8384cdb178" tabindex="-1" value="">
					</div>
					<button class="btn waves-effect waves-light" type="submit" name="submit">Sign Up
						<i class="mdi-content-send right"></i>
					</button>
				</form>
			</div>
			<div id="disqus_thread"></div>
			<script>
				var disqus_shortname = 'coltonfitzgerald';
				(function () {
					var dsq = document.createElement('script');
					dsq.type = 'text/javascript';
					dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		</div>
	</article>
</div>